/* Main CSS File */

body {
    font-family: 'Roboto Slab', serif;
    background-color: slategray;
    text-align: center;
}

.head-button {
    font-family:'Roboto Slab', serif;
    font-size:x-large;
    color: black;
    background-color: lightblue;
    transition: all 0.5s;
    display: inline-block;
    margin:
}

button:hover {
    background-color: lightskyblue;
    transform: scale(1.1)
}