/* Main CSS document */

* {
    text-decoration: none;
    font-family: "VT323";
    font-size: large;
}

@font-face {
    font-family: "VT323";
    src: url(assets/fonts/VT323-Regular.woff2) format('woff2'),
        url(assets/fonts/VT323-Regular.woff) format('woff'),
        url(assets/fonts/VT323-Regular.ttf) format('truetype');
    font-display: block;
}

.navigation-bar {
    background: maroon;
    padding-left: 15px;
    padding-right: 15px;
}

.navigation-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-logo a {
    font-size: 50px;
    color: white;
}

.subpage-logos a {
    font-size: 35px;
    color: white;
}

.subpage-logos li {
    list-style: none;
    display: inline-block;
    margin: 25px;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 25px;
}

.content {
    text-align: center;
}

.project-card {
    margin-right: 8px;
    background-color: maroon;
    width: 200px;
    height: 375px;
    padding: 15px;
    display: inline-block;
    vertical-align: text-top;
}

.project-card * {
    color: white;
    text-align: center;
}

.project-card-container a {
    margin: 10px;
}

a:hover {
    color: gold;
}