/* Main CSS File */
/* work pls */

body {
    font-family: 'Roboto Slab', serif;
    background-color: darkgray;
    text-align: center;
}

#header-page {
    margin: auto;
    width: 100%;
}

#header-page button {
    width: 25%;
    font-family:'Roboto Slab', serif;
    font-size: x-large;
    color: black;
    background-color: darkgray;
    transition: all 0.5s;
    float: left;
    margin: 0px;
    border: none;
    padding: 0px;
}

#header-page button:hover {
    background-color: gray;
}

.dynamic button {
    font-family:'Roboto Slab', serif;
    display: block;
    margin: auto;
    background-color: darkgray;
    color: black;
    transition: all 0.5s;
    font-size: large;
    padding: 4px;
    border: none;
}

.dynamic button:hover {
    background-color: gray;
}